<html>
<body>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
<section id="one">
	<div class="bg-img">
		<div class="container">
			<div class="topnav">
			<a href="Home.html">HOME</a></li>
			<a href="Photoapp.html">PHOTOAPP</a></li>
			<a href="Design.html">DESIGN</a></li>
			<a href="Download.html">DOWNLOAD</a></li>
			</div>
		<a href="#" class="myButton">Get Started</a>
		</div> 
	</div>
	<h1>YOUR LIFE , A PHOTO</h1>
		<p class="p1">print your life in a simple photo</p>
</section>
<section class="two">
	<div class="hold">
		<div class="pos">
			<a href="#" class="myButton2">Get Started</a>
			<h2>RAPRESENT YOUR LIFE WITH A SIMPLE PHOTO</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
			eiumod tempor incidunt ut labore dolore magna aliqua ut veniam, quis nostrud 
			exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
		</div>
	</div>
</section>
<section class="three">
	<div class="hold2">
		<div class="pos2">
		<a href="#" class="myButton3">Get Started</a>
			<h3>DESIGN</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
			eiumod tempor incidunt ut labore dolore magna aliqua ut veniam, quis nostrud 
			exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
		</div>
	</div>
</section>
<section class="four">
	<img class="camp" src="camper.jpg" alt="camper">
	<img class="leaf" src="leaf.jpg" alt="leaf">
	<div class="hold3">
		<div class="pos3">
			<h4>Our Comunity</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		</div>
	</div>
</section>
<section class="five">
		<div class="hold4">
			<div class="pos4">
			<h5>SUBSCRIBE TO OUR COMMUNITY</h5>
				<form>
					<input type="text" id="Email" placeholder="Your Email.."><br>
					<input class="btnsb" type="submit" value="Submit">
				</form>
			</div>
		</div>
</section>
<footer>
	<p>&copy; Acmad Gilang Pratama - 311910259</p>
</footer>
</body>
</html>